body{
  background-color: black;
  font-family: Verdana;
  color: white;
  text-align: center;
  }

h1{
  font-weight: normal;
  font-size: 50px;
}

h2{
  font-weight: 300;
  font-size: 42px;
}

h3{
  font-size: 21px;
  color: Gray;
  font-weight: normal;
  }

p{
  font-size: 16px;
  color: aquamarine;
  text-decoration: underline;
}

.copyright p{
  text-align: right;
  color: gray;
  text-decoration: none;
}
